<div class="main tw-mx-5 md:tw-mx-24 tw-py-12 tw-text-xl">
  <app-game
    *ngIf="!showResults"
    [generatedWaveGroups]="generatedWaveGroups"
    (resolve)="resolve($event)"
    (done)="done()"
  ></app-game>
  <app-controls
    (reset)="reset()"
    (end)="end()"
    class="tw-block tw-pb-10"
  ></app-controls>
  <app-results
    *ngIf="showResults"
    [generatedWaveGroups]="generatedWaveGroups"
    [resolvedWaves]="resolvedWaves"
  ></app-results>
</div>
<button (click)="toggleImpressum()" class="imprint">Impressum</button>
<p *ngIf="_showImpressum" class="tw-text-xs tw-mb-5">
  Die Inhalte dieser Website stehen, so weit sie vom Autor stammen, unter einer
  Creative Commons Lizenz. Andere Inhalte unterstehen dem Urheberrecht ihrer
  Schöpfer (z.B. bestimmte Blindtexte und ihre Übersetzungen oder technische
  Skripte) und können nur von diesen lizenziert werden. Verantwortlicher für den
  Inhalt der Webseite ist Maximilian Weber zu erreichen unter
  crysis2maxw@gmail.de
</p>
